/*       
                                                    CSS for Web Design Fundamentals Project 2020 
                                                    Project Topic: COVID-19
                                                    Author: Daniel Halpin, S00199340
                                                    
Last Modified: 18/04/20
*/


/*
Font family used for all content is Verdana.
All pages aligned.
Similar layout and colours used throughout all webpages.
All images used are from HSE, HPSC and Department of Health Websites.
*/


/*----------------------------------------*/
/*-----Generic CSS Used for all Pages-----*/
/*----------------------------------------*/

/*-----Main Header for all Pages-----*/
#title{
    font-weight: bold;
    text-decoration: underline;
}

header{
    font-family: Verdana;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/*-----Active Page Marker, Shows user visually what page there on-----*/
.active{
    background-color: lightgray;
}

/*-----Main Logo Pic shown on every page at top of page-----*/
#logo_pic{
    width: 380px;
    height: 100px;
    float: inherit;
    margin: 0px;
    padding: 0px;
}

/*-----Main Content CSS, with viewport set to 50% so it takes up minimum 50% of the pages view-----*/
#main_content{
    font-family: Verdana;
    color: black; 
    position: relative;
    min-height: 60vh;
}

/*-----Main Content H6 - Used as placeholder to remove validator warnings-----*/
#main_content h6{
    font-size: 0px;
    color: transparent;
}

/*-----Navigation Bar shown on every page at top of page-----*/
nav{
    background-color: lightgray;
    padding: 5px;
    font-family: Verdana;
}

nav ul{
    text-align: center;
    font-size: 1.2em;
    padding: 3px;
    
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 8px;
    border: 1px solid black;
    padding: 4px;
    background-color: white;
    
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 3px;
}

/*-----Underlines current selection while hovering over it, to visually show the user the selection-----*/
nav ul li:hover{
    text-decoration: underline; 
}

/*-----Footer shown on every page at top of page-----*/
footer{
    clear: both;
    padding: 10px;
    margin: 0;
    position:inherit;
    bottom: 0px;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    font-family: Verdana;
    height: 190px;
}

footer ul{
    text-align: center;
    font-size: 1.2em;
    padding: 3px;
    border-color: black;
}

footer ul li{
    list-style-type: none;
    display: inline-block;
    margin: 8px;
    border-spacing: inherit;
    background-color: white;
    border: 1px solid black;
    padding: 4px;
}

/*-----Underlines current selection while hovering over it, to visually show the user the selection-----*/
footer ul li:hover{
    text-decoration: underline;
}

footer ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    padding: 3px;
}

footer p{
    color: black;
    text-decoration: underline;
    
}

#footer_top{
    text-decoration: underline;
    color: blueviolet;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;  
}

/*------------------------*/
/*-----index.html CSS-----*/
/*------------------------*/
#main_text{
    width: 50%;
    float: left; 
}

#prevent_title{
    text-align: center;
}

#prevent_pic{
    width: 50%;
    height: auto;
    float: right;
    margin: 0px;
    padding: 0px;
}

#top{
    margin-top: 10px;
    font-family: Verdana;
    font-size: 200px;
}

/*-----CSS Used to highlight College Project, reused for other parts where RED highlighting is needed-----*/
.college_project{
    color: red;
    font-weight: bold;
}

/*----------------------------------*/
/*-----symptoms_causes.html CSS-----*/
/*----------------------------------*/

#symptoms ul li{
    margin: 20px;
}

#symptoms h2{
    text-align: left;
}

#causes{
    border-bottom: 1px solid black;
}


#causes h2{
    text-align: left;
}

#table h2{
    text-align: left;
}

#table{
    border-bottom: 1px solid black;
}
#hse_data{
    width: 100%;
    height: 100%;
    font-family: Verdana;
}

#hse_map{
    width: 100%;
    height: 1000px;
}


/*----------------------------*/
/*-----more_info.html CSS-----*/
/*----------------------------*/

fieldset{
    width: 275px;
}

/*-----Makes required text highlight in BOLD Red-----*/
.required{
    font-weight: bold;
    color: red;
}


label{
    float: left;
    width: 112px; 
    padding-right: 10px; 
    text-align: right;
}

input{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}

input[type="radio"]{width:10px;}

input[type="checkbox"]{width:25px;}

#button{
    margin-left: 138px;
    margin-top: .5em;
    width: 8em;
    background-color: lightgray;
    border: 1px solid black;
}

#more_info{
    border-bottom: 1px solid black;
}

#more_info h2{
    text-align: left;
}

#prevent_video{
    width: 55%;
    height: 315px;
    float: right;
    padding-bottom: 30px;
    border: 0px;
}
#video_info{
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
}

#contact_form{
    margin-top: 475px;
}

/*-------------------------------------*/
/*-----prevention_testing.html CSS-----*/
/*-------------------------------------*/


.col_prevent{
    column-count: 3;
    column-rule: 1px solid black;
    column-gap: 50px;
    font-family: Verdana;
    width: 100%;
    height: auto;
    float: left;
   
    
}

#prevent_text{
   
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 100%;
    
        
}

#basic_covid {
    font-family: Verdana;
    text-align: center;
    float: none;
}

#prevention_pic{
    width: 40%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



